<!doctype html>
<html class="no-js h-100" lang="en">
  <% include style %>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <% include sidebar %>
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
          <% include main_navbar %>
          <div class="main-content-container container-fluid px-4">
            <% include page_header %>
          </div>
          <% include footer %>
        </main>
      </div>
    </div>
    <div class="promo-popup animated">
      <a href="http://bit.ly/shards-dashboard-pro" class="pp-cta extra-action">
        <img src="https://dgc2qnsehk7ta.cloudfront.net/uploads/sd-blog-promo-2.jpg"> </a>
      <div class="pp-inner-content">
        <h2>Telkom Web Admin Panel</h2>
        <p>Our News Is Uptodate</p>
      </div>
    </div>
    <% include javascript %>
  </body
</html>